.card {
    width: 100%;
    border-radius: .5rem /* 8px -> .5rem */;
    background: var(--white);
    border: 1px solid var(--gray-300);
    line-height: 22px;


    & > * {
        margin: 0;
    }

    /** collapse 내부 content card의 border-top을 제거 */
    & + div &_content {
        border-top: 0;
    }

    & ~ & {
        border-top: 0;
    }

    &_content {
        display: flex;
        align-items: flex-start;
        gap: 35px;

        & > * {
            flex: 1;
        }
    }
}

.between {
    display: flex;
    justify-content: space-between;
}

.title {
    max-width: 80px;
}

.content {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.backgroundColor {
    &_white {
        background-color: var(--white);
    }

    &_gray-50 {
        background-color: var(--gray-50);
    }
}

.flat {
    &_top {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    &_bottom {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &_both {
        border-radius: 0;
    }
}

.center {
    align-items: center;
}

.padding {
    &_md {
        padding: 1rem 1.5rem;
    }
}

.pointer {
    cursor: pointer;
}