.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: .5rem /* 8px -> .5rem */;
    background: var(--white);
    border: 1px solid var(--gray-300);
}

.backgroundColor {
    &_white {
        background-color: var(--white);
    }

    &_gray-50 {
        background-color: var(--gray-50);
    }
}

.flat {
    &_top {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    &_bottom {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &_both {
        border-radius: 0;
    }
}

.center {
    align-items: center;
}

.padding {
    &_md {
        padding: 1rem 1.5rem;
    }
}

.pointer {
    cursor: pointer;
}